* {
  padding: 0;
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  width: 980;
  height: 85px;
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
}

header nav a {
    border: solid 10px black;
    text-align: left;
} 

.facebook-logo {
    align-self: flex-start;
}

.line-content {
  display: flex;
  height: ;
}

form {
  display: flex;
}

  
/* 















































Gildeir
 */