* {
  padding: 0;
  margin: 0;
}

.top-bar {
  background-color: rgb(66, 103, 178);
  width: 980;
  height: 85px;
  display: flex;
  align-content: center;
}

.nav-content {
  width: 100%;
  display: flex;
  align-content: center;
  align-self: center;
  justify-content: space-around;
}

.facebook-login {
  display: flex;
  align-self: center;
}

.main-content {
  display: flex;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;
}

#ajust {
  display: flex;
}

#lastname-content {
  margin-left: 10px;
}
