* {
  padding: 0;
  margin: 0;
}

.top-bar {
  color: white;
  background-color: rgb(66, 103, 178);
  width: 980;
  height: 85px;
  display: flex;
  justify-content: center;
}

.facebook-login {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

  
/* 















































Gildeir
 */

































 /*
 Bruno
 */

.main-content{
  display: flex;
}

.left-content{
  width: 800px;
}

.right-content{
  width: 300px;
}

#ajust{
  display:flex;
}

#lastname-content{
  margin-left: 10px;
}
